<div id="fg-title">
    <label>
        CHANGE PASSWORD
    </label>
</div>
<div id="tablediv-chngpswd">
    <form #fcp="ngForm" name="chngpswd-form" action="">
        <table>
            <tr>
                <th>Enter Current Password</th>
                <td>
                    <div *ngIf="oldpassword.touched && !oldpassword.valid">{{opp.open()}} </div>
                    <div *ngIf="oldpassword.valid">{{opp.close()}}</div>
                    <input type="password" name="oldpswd" required popoverClass="my-custom-class"
                        ngbPopover="This field is required!" #opp="ngbPopover" triggers="manual"
                        #oldpassword="ngModel" [(ngModel)]="oldpswd">
                </td>
            </tr>
            <tr>
                <th>Enter New Password</th>
                <td>
                    <div *ngIf="newpassword.touched && !newpassword.valid">
                        <div *ngIf="newpassword.errors.required" popoverClass="my-custom-class"
                            ngbPopover="This field is required!" #npp0="ngbPopover" triggers="manual">
                            {{npp0.open()}}
                        </div>
                        <div *ngIf="newpassword.errors.minlength" popoverClass="my-custom-class"
                            ngbPopover="Password must be at least 5 characters long!" #npp1="ngbPopover"
                            triggers="manual">
                            {{npp1.open()}}
                        </div>
                        <div *ngIf="newpassword.errors.pattern" popoverClass="my-custom-class"
                            ngbPopover="Password must contain at least one digit and one alphabet!"
                            #npp2="ngbPopover" triggers="manual">
                            {{npp2.open()}}
                        </div>
                    </div>
                    <input type="password" required name="newpswd" minlength="5"
                        pattern="^(?=.*\d)(?=.*([a-z]|[A-Z]))(?!.*\s).*$" #newpassword="ngModel"
                        [(ngModel)]="newpswd">
                </td>
            </tr>
            <tr>
                <th>Confirm New Password</th>
                <td>
                    <div *ngIf="rnewpass.touched && !rnewpass.valid">
                        <div *ngIf="rnewpass.errors.required" popoverClass="my-custom-class"
                            ngbPopover="This field is required!" #rnpp1="ngbPopover" triggers="manual">
                            {{rnpp1.open()}}
                        </div>
                    </div>

                    <div *ngIf="(rnewpass.value != newpassword.value) && rnewpass.touched" popoverClass="my-custom-class"
                        ngbPopover="Password does not match!" #rnpp2="ngbPopover" triggers="manual">
                        {{rnpp2.open()}}
                    </div>
                    <input type="password" name="rnewpswd" required #rnewpass="ngModel" [(ngModel)]="rnewpswd">
                </td>
            </tr>
        </table>
        <button [disabled]="!fcp.valid || rnewpass.value != newpassword.value" (click)="updatePass()">Save</button>
    </form>
</div>
