#fg-title {
    display: inline-block;
    font-size: 2.5em;
    color: whitesmoke;
    padding-left: 0.4em;
    padding-top: 0.4em;
    height: 2.4em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-right-radius: 10px;
}

#fg-title label {
    margin-top: 0.35em;
    float: right;
    padding-right: 1em;
}

#aotablediv {
    overflow-y: auto;
    height: 39.7rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px white solid;
    border-bottom-right-radius: 10px;
}

#aotablediv table {
    color: white;
    margin-top: 5.5em;
    margin-left: 11.5em;
}

#aotablediv table tr th {
    padding: 10px 25px 20px 0px;
}

#aotablediv table tr td {
    padding: 10px 0px 20px 0px;
}

#aotablediv table input[type=text] {
    background-color: #cccccc;
    border: none;
    border-radius: 5px;
}

#aotablediv table input[type=password] {
    background-color: #cccccc;
    border: none;
    border-radius: 5px;
}

#aotablediv table input[type=time] {
    background-color: #cccccc;
    border: none;
    border-radius: 5px;
}

#aotablediv table input.ng-touched.ng-invalid {
    border: 2px solid red
}

#aotablediv table select {
    background-color: #cccccc;
    border: none;
    border-radius: 5px;
}

#aotablediv table select.ng-touched.ng-invalid {
    border: 2px solid red
}

#aotablediv table .my-custom-class {
    background: aliceblue;
    font-size: 55%;
    font-weight: bold;
    margin-bottom: -0.2em;
    border: 2px black solid;
}

#aotablediv table .my-custom-class .arrow::after {
    border-top-color: aliceblue;
}

#aotablediv button {
    width: 10em;
    margin-top: -1em;
    margin-right: 15em;
    float: right;
    padding: 0.3em 0em 0.3em 0em;
    background-color: rgb(0, 0, 0);
    color: rgb(54, 192, 59);
    border: 2px rgb(54, 192, 59) solid;
    font-weight: bold;
}

#aotablediv button:disabled {
    background-color: rgb(90, 90, 90);
    color: white;
    border: 2px white solid;
    opacity: 0.35;
}